
.container {
  border: 2px solid #dedede;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background-color: #2d2d2d;
  img {
    float: left;
    max-width: 60px;
    height: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px black solid;
    &.right {

      float: right;
      margin-left: 20px;
      margin-right:0;
    }
    &.left{

    }
  }
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */

/* Style the right image */

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}
