

    .background{
        background-image: url('./../../img/back.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: inline-grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 40% 60%;
    }
.profileContent{
    display: inline-grid;
    grid-template-rows: 400px 1fr 2fr ;
    grid-template-columns: 100%;
    grid-gap:20px 0px;
}