
.user{
  margin-bottom: 50px;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  display: inline-grid;
  font-size:17px;
  .avatar{
    width:80px;
    height:80px;
    border-radius: 2000px;
    border:1px black solid;
    grid-row: 1/2;
  }
  .button{
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .name{
    padding-left: 20px;
    padding-top: 10px;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .description{
    padding-left: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
