
header{
    grid-area: header;
    background-color: #393939;

    padding-left: 9%;
    box-shadow: 0 1px 10px black;
    .title{
        width: 80px;
        white-space: nowrap;
        display: inline-block;
        vertical-align: middle;
        padding-bottom: 30px;
    }
    img{
        width: 40px;
        height: 80%;
    }
}