.nav{
    margin-top: 0;
    padding-top: 50px;
    grid-area: nav;
    display: inline-grid;
    grid-template-rows: repeat(8,80px) ;
    grid-template-columns: 100%;
    font-size: 18px;

}
.activeLink{
    color:#f38145;
}