.app-wrapper{
  margin-left:10%;
  margin-right:10%;
  display: grid;
  grid-template-areas:
  "header header "
  "nav content ";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 10fr;
  grid-gap: 10px;

}

a{
  text-decoration: none;
  color:white;
}


ul{
  list-style-type: none;
}
li{
  margin: 20px 0;
}