.app-wrapper{

  display: grid;
  grid-template-areas:
  "header header header header"
  ". nav content .";
  grid-template-rows: 70px 1fr;
  grid-template-columns:1fr 1fr 8fr 1fr;
  grid-gap: 10px;

}

a{
  text-decoration: none;
  color:white;
}
.app-wrapper-content{

  grid-area:content;
  display: inline-grid;

}
ul{
  list-style-type: none;
}
li{
  margin: 20px 0;
}